{% extends "main.html" %}

{% block head %}
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css">
    <liknk rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

    
    

{% endblock %}
{% block body %}
    <div class="row mt-5 justify-content-center">
        <div class="container col-lg">     
            <!-- navbar -->
            <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <ul class="navbar-nav ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>                    
                        </div>
                    </li>
                </ul>                                 
                    
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('timeline')}}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('addAlumnos')}}">Alumnos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('admin')}}">Administradores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('admin')}}">consulta</a>
                        </li>
                  </ul>
                  
                </div>
            </nav>

            <br> <br>

            
            <center>
                <h4>Administadores</h4>
            </center>
            <!-- Mostrar los datos mediante una tabla -->
            <div class="table-responsive-sm" id="data-table">
                <table id="example" class="table ">
                    <thead class="thead-dark">
                        <tr>                            
                            
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Genero</th>
                            <th>Email</th>
                            <th>Username</th>                            
                            <th>Actualizar</th>               
                            <th>Eliminar</th>
    
                            
                        </tr>
                    </thead>
                    <tbody>
    
                        <!-- ciclo para obtener cada registro-->
    
                        {% for u in users %}
                        <tr>
                            
                            <td>{{u.nombre}}</td>
                            <td>{{u.apellidos}}</td>
                            <td>{{u.sexo}}</td>                            
                            <td>{{u.email}}</td>
                            <td>{{u.username}}</td>
                            <td><a href="/admin/actualizar/{{u.username}}">Actualizar</a></td>
                            <td><a href="/admin/delete/{{u.username}}">Eliminar</a>    
                            
                        </tr>
                        {%endfor%}
                    
                    </tbody>
                    <tfoot>
                        <tr>
                            
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Genero</th>
                            <th>Email</th>
                            <th>Username</th>                            
                            <th>Actualizar</th>               
                            <th>Eliminar</th>
                           
                        </tr>
                    </tfoot>
                </table>

            </div>
            
                
            

        </div>

    </div>

    

    <!-- Script para inicializar la tabla -->
    <script>

        $(document).ready(function() {
            $('#example').dataTable( {
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                }
            } );
        } );
    </script>

    
    
{% endblock %}
